/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/bootstrap/cache/*
/storage/app/*
/storage/framework/*
/storage/logs/*

# Directorio de compilación de Vite (si lo usas)
/public/build

# Archivos específicos del editor/IDE
*.swp
*.swo
.DS_Store

# Archivos de Docker (si aplica)
.dockerenv

# Otros archivos temporales o generados
*.log
*.sqlite
*.bak
*.dump


# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

/.vagrant
/storage/pail
.env.production
.phpactor.json
auth.json
